<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Chat Rooms</title>
    <link href="css/chat.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div class="chat-rooms-container">
    <h2>Chat Rooms</h2>
    <div class="rooms-list">
        <a class="room" href="/chat/1">농구 채팅방</a>
        <a class="room" href="/chat/2">야구 채팅방</a>
        <a class="room" href="/chat/3">축구 채팅방</a>
        <a class="room" href="/chat/4">사이클 채팅방</a>
        <a class="room" href="/chat/5">키보드 채팅방</a>
        <a class="room" href="/chat/6">수영 채팅방</a>
    </div>
</div>
</body>
</html>